html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    border: 1rem solid black;
    box-sizing: border-box;
}

#upload label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    border: .3rem dashed black;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

#upload input {
    display: none;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 3rem);
    gap: 1rem;
}

img, canvas {
    max-width: calc(50vw - 3rem);
    max-height: 100%;
}

#clock {
    font-size: 2rem;
    font-weight: bold;
}
.metadata {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
    justify-content: center;
    height: 10vh;
}