html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
    padding: 0;
    font-size: 3rem;
    margin: 3rem 3rem 0 3rem;
    font-weight: bold;
}

h2 {
    padding: 0;
    font-size: 2rem;
    margin: 0 3rem;
    font-weight: bold;
}

.grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 3rem;
}

.grid div {
    place-self: center;
    box-shadow: 0 0 1rem 0px rgba(0, 0, 0, 0.2);
}

.grid div p {
    background: black;
    color: white;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.grid div canvas {
    display: block;
    max-width: 100%;
}